<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Event</title>
    <link rel="stylesheet" th:href="@{/css/host/addEvent.css}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="event">
        <a th:href="@{/host/home}">Event Management</a>
      </div>
      <div class="menu">
        <a th:href="@{/host/addEvent}" class="add">Add Event</a>
        <a th:href="@{/host/event}">View Event</a>
        <a th:href="@{/host/profile}"
          ><img th:src="@{/img/R.png}" alt="" class="image1"
        /></a>
      </div>
    </nav>
    <div class="form-container">
      <h2>Add Event</h2>
      <form  th:action="@{/host/event/save}" method="post" 
         enctype="multipart/form-data" th:object="${event}">
        <div class="form-group">
          <label for="event-name">Event Name:</label>
          <input
            type="text"
            id="event-name"
            name="event-name"
            placeholder="Enter event name"
            th:field="*{name}"
            required
          />
        </div>
        <div class="form-group">
          <label for="regStartDateTime">Registration Start Date/Time:</label>
          <input
            type="datetime-local"
            id="regStartDateTime"
            name="regStartDateTime"
            th:field="*{reg_start_dateTime}"  
            required
          />
        </div>
        <div class="form-group">
          <label for="regEndDateTime">Registration End Date/Time:</label>
          <input
            type="datetime-local"
            id="regEndDateTime"
            name="regEndDateTime"
            th:field="*{reg_end_dateTime}"
            required
          />
        </div>
        <div class="form-group">
          <label for="eventStartDateTime">Event Start Date/Time:</label>
          <input
            type="datetime-local"
            id="eventStartDateTime"
            name="eventStartDateTime"
            th:field="*{event_start_dateTime}"
            required
          />
        </div>
        <div class="form-group">
          <label for="eventEndDateTime">Event End Date/Time:</label>
          <input
            type="datetime-local"
            id="eventEndDateTime"
            name="eventEndDateTime"
            th:field="*{event_end_dateTime}"
            required
          />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" name="category" th:field="*{category}" required />
      <option value="" disabled selected>Select a Category</option> 
        <option th:each="cat : ${categoryList}" 
                th:value="${cat.id}" 
                th:text="${cat.name}">
        </option>
    </select><br>
          </div>
                  <div class="form-group">
            <label for="venue">Venue</label>
            <select id="venue" name="venue" th:field="*{venue}" required />
      <option value="" disabled selected>Select a Venue</option> 
        <option th:each="ven : ${venueList}" 
                th:value="${ven.id}" 
                th:text="${ven.name}"+" ,"+"${ven.address}">
        </option>
    </select><br>
          </div>
          
        <div class="form-group">
          <label for="guestCapacity">Guest Capacity:</label>
          <input
            type="number"
            id="guestCapacity"
            name="guestCapacity"
            min="1"
            placeholder="Enter guest capacity"
            th:field="*{guestCapacity}"
            required
          />
        </div>
        <div class="form-group">
          <label for="ticketPrice">Ticket Price:</label>
          <input
            type="number"
            id="ticketPrice"
            name="ticketPrice"
            min="0"
            placeholder="Enter ticket price"
            th:field="*{ticketPrice}"
            required
          />
        </div>
        
       
        <div class="form-group">
            <label for="description">Description :</label>
            <input
              type="text"
              id="description"
              name="description"
              placeholder="Enter event description"
              th:field="*{description}"
              required
            />
          </div>
         <div class="form-group">
            <label for="eventImage">Select image:</label>
            <input type="file" id="eventImage" name="eventImage" accept="image/*" required />
        </div>
        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
