<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Venue/View Venue</title>
    <link rel="stylesheet" href="./venue.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="event"><a href="./HostHomepage.html">Event Management</a></div>
      <div class="menu">
        <a href="./AddVenue.html">Add Venue</a>
        <a href="./HostProfile.html"
          ><img src="./img/R.png" alt="" class="image1"
        /></a>
      </div>
    </nav>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Venue name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anish</td>
            <td>Butwal</td>
            <td>980000</td>
            <td class="Describe">Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
            <td><button type="button"><a href="./EditVenue.html">Edit</a></button>
                <button type="button">Delete</button></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Anish</td>
            <td>Butwal</td>
            <td>980000</td>
            <td class="Describe">Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
            <td><button type="button"><a href="./EditVenue.html">Edit</a></button>
                <button type="button">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
