<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Venue/View Venue</title>
    <link rel="stylesheet" th:href="@{/css/host/venue.css}" />
    <link
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="event"><a th:href="@{/host/home}">Event Management</a></div>
      <div class="menu">
		<a th:href="@{/host/allvenue}">All Venue</a>
		<a th:href="@{/host/venue}">My Venue</a>
        <a th:href="@{/host/venue/add}">Add Venue</a>
        <a th:href="@{/host/profile}">
     <i class="fa-solid fa-user"></i>  </a>
      </div>
      </div>
    </nav>
    <div class="table-container">
      <table>
        <thead>
          <tr>
			 <th>S.N</th>
            <th>Venue name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${venueList != null}" th:each="venue,iteration : ${venueList}">
			 <td th:text="${iteration.count}"></td>
            <td th:text="${venue.name}"></td>
            <td th:text="${venue.address}"></td>
            <td th:text="${venue.phone}"></td>
            <td class="Describe" th:text="${venue.description}"></td>
				<td><button type="button" th:onclick="'location.href=\'' + @{/host/venue/edit/{id}(id=${venue.id})} + '\''">Edit</button>
                <button type="button" th:onclick="'location.href=\'' + @{/host/venue/delete/{id}(id=${venue.id})} + '\''">Delete</button></td>
                
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
