* {
    padding: 0%;
    margin: 0;
    font-family: sans-serif;
    
}
.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.31);
     padding: 0.5rem 1rem;
}

.navbar a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.navbar a:hover {
    color: #d00000;
    border-radius: 4px;
}
.navbar .event {
   color: #d00000;
    width: 23%;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}
.navbar .menu {
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .menu a{
text-decoration: none;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    text-decoration: none;
    color: #d00000;
}
.event a{
    text-decoration: none;
    font-size: 24px;
}
.event a:hover{
    text-decoration: none;
    font-size: 24px;
}
.image1{
    height: 9vh;
    width: 50px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead tr {
    background-color: rgba(0, 0, 0, 0.811);
    color: #fff;
    text-align: center;
}

thead th {
    padding: 10px;
    border: 1px solid #ddd;
}
.Describe{
    width: 35%;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}button {
    height: 5vh;
    width: 60px;
    color: white;
    background-color: #d00000;
    border: 1px solid rgb(199, 199, 199);
    text-decoration: none;
}

button:hover {
    background-color: rgb(248, 189, 0);
    cursor: pointer; /* This ensures the pointer changes to a hand */
    text-decoration: none;
}


