<!--  Resgistration Form
  -Name is required , atleast 8 characters
  -passsword and confirm password
  -phone must be 10 digits
  -email ,must be on email format 
  -country is required
  -gender must be selected
  -should accept terms and condition before submit
  -disable submit button until, all these conditions are satisfied
 -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
          <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css}">

  </head>
  <body>
	   <nav class="navbar">
      <div class="event">
        <a th:href="@{/home}">
			<i class="fa-solid fa-calendar-check fa-flip"></i> <span class="headings1">Event Management</span>
			</a>
      </div>
      <div class="menu">
        <a th:href="@{/guest/event}">Event</a>
        <a th:href="@{/guest/bookings}">My Bookings</a>
        <a th:href="@{/guest/profile}">
     <i class="fa-solid fa-user"></i>  </a>
      </div>
    </nav>
    <form  th:action="@{/guest/profile/update}" method="POST" class="registrationForm" id="myform"  onsubmit="return handleSubmit()" th:object="${user}">
       
		<div class="form-group">
        <label for="username">Username</label>
         <div class="inner-group">
        <input type="text" name="username" id="username" placeholder="Enter a username" th:field="*{username}" readonly/>
        <p th:text="${usernameExists}"></p>
        </div>
    </div>
        <div class="form-group">
        <label for="password">Password</label>
        <div class="inner-group">
        <input type="password" name="password" id="password" placeholder="Enter New Password" th:field="*{password}" />
        <p class="error" id="passwordErr"></p>
        </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="inner-group">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password">
            <p class="error" id="confirmPasswordErr"></p>
            
        </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <div class="inner-group">
            <input type="text" name="phone" id="phone" 
             placeholder="e.g +977 98XXXXXXXX" th:field="*{phone}">
            <p class="error" id="phoneErr"></p>

        </div>
    </div>
        <div class="form-group">
            <label for="email">Email</label>
            <div class="inner-group">
            <input type="email" name="email" id="email" 
            placeholder="Enter Your Email" th:field="*{email}" >
            <p class="error" id="emailErr"></p>
            <p th:text="${emailExists}"></p>
           
        </div>
        </div>

        </div>
        <div class="form-group" >
			<label for="UserRole">Select Role</label>
			<select name="userRole" id="userRole" th:field="*{role}" >
			<option value="guest" disabled>Guest/Attendee</option>
			<option value="host" disabled>Host/Organizer</option>
			</select>
		</div>
        <div class="form-group">
            <label for="genderGroup">Gender</label>
            <input type="radio" value="Male" name="genderGroup" id="genderGroup" th:field="*{gender}"/>Male
            <input type="radio" value="female" name="genderGroup" id="genderGroup" th:field="*{gender}"/>Female
        </div>
        <div class="form-group">
            <input type="checkbox" name="term" id="term" />I accept all
            <a href="#">terms and conditions</a>
        </div>
        <div class="button-group" >
            <button type="submit" id="submit" >Submit</button>
            <button type="reset" id="reset">Reset</button>
        </div>
    </form>
    <script src="/javascript/signup.js"></script>
  </body>
  </html>